<section class="hero">
  <div class="hero-content">
    <p class="hero-content-subtitle">Unique Technology</p>

    <p class="hero-content-title">Unleash the Power of AI</p>

    <p class="hero-content-text">
      Frankie is an AI-powered chatbot app that allows users to have
      conversations with a virtual assistant.
    </p>

    <div class="send-email-wrapper">
      <input class="input" type="email" placeholder="E-mail address..." />
      <button mat-flat-button color="lime-green">Get Notified</button>
    </div>
  </div>

  <img class="hero-bg" src="assets/images/hero-bg.png" alt="Hero Background" />
</section>
