<section id="features" class="features">
  <p class="features-subtitle">Features</p>

  <p class="features-title">Revolutionize Your Workflow</p>

  <div class="features-container">
    <div class="features-item">
      <img
        class="features-item-image"
        src="assets/images/features-1.png"
        alt="Features Image 1"
      />

      <div class="features-item-content">
        <p class="features-item-title">24/7 Data Collection</p>

        <p class="features-item-description">
          By analyzing user interactions, chat AI can help businesses identify
          trends and patterns, making it easier to tailor products.
        </p>

        <button class="features-item-button" mat-flat-button color="lime-green">
          Get Started
        </button>
      </div>
    </div>

    <div class="features-item">
      <img
        class="features-item-image"
        src="assets/images/features-2.png"
        alt="Features Image 2"
      />

      <div class="features-item-content">
        <p class="features-item-title">Personalization</p>

        <p class="features-item-description">
          This could include addressing the user by name, offering customized
          product recommendations, or remembering previous preferences.
        </p>

        <button class="features-item-button" mat-flat-button color="lime-green">
          Get Started
        </button>
      </div>
    </div>

    <div class="features-item">
      <img
        class="features-item-image"
        src="assets/images/features-3.png"
        alt="Features Image 3"
      />

      <div class="features-item-content">
        <p class="features-item-title">More Accurate Responses</p>

        <p class="features-item-description">
          This advantage emphasizes how chat AI can provide faster and more
          accurate responses to user inquiries.
        </p>

        <button class="features-item-button" mat-flat-button color="lime-green">
          Get Started
        </button>
      </div>
    </div>
  </div>
</section>
