<header class="header">
  <div class="header-content">
    <a class="logo" [routerLink]="['/']">
      <img class="logo-img" src="assets/svgs/logo.svg" alt="Logo" />
      <p>frankie</p>
    </a>

    <mat-icon class="menu-icon" (click)="isMenuOpen = !isMenuOpen">
      {{ isMenuOpen ? "close" : "menu" }}
    </mat-icon>
  </div>

  <div [@.disabled]="!isMobile">
    <div *ngIf="isMobile && isMenuOpen" [@fadeInOut]>
      <app-nav />
    </div>

    <app-nav *ngIf="!isMobile" />
  </div>
</header>
