.header {
  padding: 28px 24px;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      gap: 2px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;

      .logo-img {
        width: 26px;
        height: 25px;
      }
    }

    .menu-icon {
      width: 28px;
      height: 28px;
      font-size: 28px;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .header {
    position: relative;

    .header-content {
      height: 28px;

      .menu-icon {
        display: none;
      }
    }
  }
}
