html {
  height: 100%;
  font-size: 16px;

  body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #ffffff;
    background-color: #0d0e11;

    p {
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }

    a {
      color: #ffffff;
      text-decoration: none;
      outline: none;
    }

    input {
      padding: 0 18px;
      height: 36px;
      color: #ffffff;
      border: none;
      border-radius: 12px;
      outline: none;
    }

    .mat-lime-green {
      padding: 0 18px;
      height: 36px;
      letter-spacing: 0;
      background: linear-gradient(134deg, #ceef4c, #e7ff8f);
      border-radius: 12px;
    }
  }
}
